<header ng-controller="NavigationController as nav">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" ng-click="nav.isCollapsed = !nav.isCollapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">PWD ツ</a>
      </div>

      <div class="collapse navbar-collapse" uib-collapse="nav.isCollapsed" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-class="{active: main.checkURL('home')}"><a ui-sref="home">Home <span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" ng-bind="'Welcome ' + nav.auth.fullName"></a></li>
          <li class="dropdown" uib-dropdown>
            <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> <span class="caret"></span></a>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li><a href="#">Account</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/signout">Signout</a></li>
            </ul>
          </li>
        </ul>
      </div>      
    </div>
  </nav>
</header>