<div class="modal-body row" id="modal-body">
	<div class="col-lg-12">
		<table class="table table-striped" ng-if="$ctrl.ratings">
			<thead>
				<td>User</td>
				<td>Rate</td>
				<td>Remarks</td>
			</thead>
			<tbody>
				<tr ng-repeat="item in $ctrl.answers track by $index" ng-if="item.ratings">
					<td ng-bind="item.user.fullName"></td>
					<td ng-bind="item.score"></td>
					<td ng-bind="item.result"></td>
				</tr>
			</tbody>
		</table>
			<hr>
		<div class="col-lg-12">
			<div ng-repeat="item in $ctrl.answers track by $index">
				<div>
					<label ng-bind="item.user.fullName"></label>
					<div ng-repeat="(an, ans) in item.answer track by $index">
						<label style="text-transform: uppercase;" ng-bind="an"></label>
						<div ng-if="!$ctrl.isObj(ans)" ng-bind="ans"></div>
						<div ng-if="$ctrl.isObj(ans)" style="padding-left: 40px">
							<div ng-repeat="(key, val) in ans track by $index">
								<i>{{key}}:</i> <u>{{val}}</u>
							</div>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>
